* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'times new roman';
    font-weight: 300;
}

body {
    background-image: url("../images/text-background.png");
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151D2C;
    padding-right: 2em;
    padding-top: 2em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    margin-left: .5em;
}

nav li {
    margin-bottom: 2em;
    list-style: none;
}

main {
    margin-left: 9.4em;
}

.info {
    padding-left: 2em;
    padding: 10px;
    

    
}

#aboutContainer {
    color: #fff;
    font-size: 1.5rem;
    padding: 2%;
    background-color: #3C4C64;
    
}

.titlebox {
    background-color: #4B7F4E;
    color: #D7CDA8;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.titlebox h1 {
    padding-left: 1em;
}

.coverimg {
    background-image: url("../images/bulb-plant-medium.jpg");
    height: 100vh;
    background-position: center;
    background-size:cover;
}

.quote {
    color: white;
    font-weight: 200;
    left: 10%;
    position: absolute;
    top: 10%;
}

.container-1 {
    display:flex;
    justify-content: center;
    
   
}
.container-1 p {
    
    border: 1px black solid ;
    background-color: #4C5D6C;
    padding: 10px;
}
